<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
         border-color: #bd2130;
  }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <a id="board-id" th:text="${boardId}" th:href="@{/post/posts(boardId=${boardId})}" />

    <form role="form" action="/post/create" th:object="${postForm}" method="post">
        <input type="hidden" th:name="boardId" th:value="${param.boardId}"/>

        <div class="form-group">
            <label th:for="title" style="margin-top: 20px;">게시글 제목</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="게시글 제목을 입력하세요" style="margin-top: 10px;" required>
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <p>모집 상태</p>
            <input type="radio" name="status" id="recruiting"  value="RECRUITING">
            <label for="recruiting">모집 중</label>
            <input type="radio" name="status" id="completed"  value="COMPLETED">
            <label for="completed">모집 완료</label>
        </div>
        <div class="form-group" style="margin-top: 15px;">
            <label th:for="content" style="margin-top: 20px;">게시글 내용</label>
            <input type="text" name="content" id="content" class="form-control" style="margin-top: 10px; height: 200px;" required>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 30px 0px;">게시글 등록하기</button>
    </form>

    <br/>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>