<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title th:text="스파링 파트너 구인 사이트 - ${board.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron" style="padding-bottom: 10px;">
        <h1 th:text="${board.title}" style="margin: 20px 0px;"></h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>게시글 제목</th>
                <th>모집 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <a class="btn btn-lg btn-info" th:text="${post.title}" style="width: 300px"></a>
                </td>
                <td>
                    <a th:text="${post.status}" style="width: 300px"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>