<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
         border-color: #bd2130;
    }
    .post-info {
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div style="padding: 0 20px;">
        <div>
            <a id="board-id" th:text="${post.board.title}" th:href="@{/post/posts(boardId=${post.board.id})}"></a>
            <h3 id="title" th:text="${post.title}"></h3>
            <div class="post-info">
                <span id="createdAt" th:text="${post.createdAt}"></span>
                <span id="status" th:text="${post.status}"></span>
            </div>
        </div>
        <div style="margin-top: 10px; border-top: 1px solid black;">
            <div id="content" th:text="${post.content}" style="padding: 10px 0px;"></div>
        </div>
    </div>

    <a class="btn btn-lg btn-primary" th:href="@{/post/updateForm(postId=${post.id}, boardId=${post.board.id})}" style="margin: 20px 0 50px 20px;">게시글 수정하기</a>
    <a class="btn btn-lg btn-primary" th:href="@{/post/delete/{id}(id=${post.id})}" style="margin: 20px 0 50px 10px;">게시글 삭제하기</a>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>