<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스파링 파트너 구인 사이트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron" style="padding: 20px 0px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>NO</th>
                <th>게시판 이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td>
                    <a class="btn btn-lg btn-info" th:text="${board.title}" style="width: 300px" th:href="@{/board/{id} (id=${board.id})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>